*{
    padding: 0;
    margin: 0;
}

#game
{
    width: 1918px;
    height: 965px;
    background-color: black;
    border: 1px solid black;
}

#leftPaddle
{
    width: 50px;
    height: 250px;
    background-color: white;
    position: absolute;
    left: 75px;
    top: 355px;
    float: left;
}

#rightPaddle
{
    width: 50px;
    height: 250px;
    background-color: white;
    position: absolute;
    left: 1793px;
    top: 355px;
}

.animate
{
    animation: jump 500ms;
}

@keyframes jump
{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

