<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="message"></div>
    <div class="controls-wrapper">
        <ul id="events"></ul>
        <div class="controls">
          <div class="chat-wrapper">
            <form id="chat-form">
              <input id="chat" autocomplete="off" title="chat"/>
              <button id="say">Say</button>
            </form>
          </div>
        </div>
      </div>
    <div id="leftPaddle"></div>
    <div id="rightPaddle"></div>
    <div id="game">
        <div id="ball"></div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="script.js"></script>
</html>